# Establecer el tipo de contenido a JSON
# Header set Content-Type "application/json"

# Content Security Policy (CSP)
# Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'"

# HTTP Strict Transport Security (HSTS)
# Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

# X-Frame-Options
# Header always set X-Frame-Options "DENY"

# X-XSS-Protection
# Header always set X-XSS-Protection "1; mode=block"

# Referrer Policy
# Header always set Referrer-Policy "no-referrer"

# Content-Type Options
# Header always set X-Content-Type-Options "nosniff"